body {
    width: 100%;
    height: 2000px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}
#banner_container {
    width: 100%;
    height: 300px;
    background-color: aquamarine;
}
#menu_container {
    width: 100%;
    height: 50px;
    background-color: mediumspringgreen;
}
#body_container {
    width: 100%;
    height: 1650px;
    background-color: dodgerblue;
    margin: 0px;
}
#box_container {
    width: 100%;
    height: 200px;
    background-color: white;
    //line-height: 200px;
    position: relative;
    transition: all 0.3s;
}
#box_container.firstel {
    top: 25px;
}
#box_container.secondel {
    top: 50px;
}
#box_container:hover {
    background-color: #ffb857;
}